.ima{
  width: 50px;
  object-fit: cover;
  margin-right: 15px;
}

.price{
    position: absolute;
    bottom: 11px;
    right: 10px;
    margin: 0;
    font-weight: bold;
}

ion-icon{
  font-size: 15px;
}