<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Pre-purchase</ion-title>
    <ion-button slot="end" [routerLink]="['/pre-purchase']">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-itemc *ngFor="let h of id" [rendering]="h"></app-itemc>

  <ion-button id="footerAnchor" color="success" expand="full">Payment</ion-button>
  <ion-toast
    color="success"
    trigger="footerAnchor"
    position="bottom"
    positionAnchor="footer"
    message="Payed Successfly"
    duration="3000"
></ion-toast>
</ion-content>
