<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Fashion Store
    </ion-title>
    <ion-button slot="end" [routerLink]="['/pre-purchase']">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<div class="sizeSelect">
    <ion-item>
      <ion-select interface="popover" placeholder="Preference" (ionChange)="onOptionSelected($event)">
        <ion-select-option value="men's clothing">Men's Clothing</ion-select-option>
        <ion-select-option value="women's clothing">Women's Clothing</ion-select-option>
        <ion-select-option value="jewelery">Jewelery</ion-select-option>
        <ion-select-option value="electronics">Electronics</ion-select-option>
      </ion-select>
    </ion-item>
</div>

<ion-content [fullscreen]="true">
<ion-grid [fixed]="true">
  <ion-row>
    <app-card (DoClick)="doNavegate($event)"*ngFor="let h of products" [Items]= "h"></app-card>
  </ion-row>
</ion-grid>
</ion-content>
